apiVersion: apps/v1
kind: Deployment
metadata:
  name: productservice
spec:
  replicas: 2
  selector:
    matchLabels:
      app: productservice
  template:
    metadata:
      labels:
        app: productservice
    spec:
      containers:
      - name: productservice
        image: <your-acr-name>.azurecr.io/productservice:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: productservice
spec:
  type: ClusterIP
  selector:
    app: productservice
  ports:
  - port: 80
    targetPort: 80
