trigger:
  branches:
    include:
      - main

variables:
  azureSubscription: '<your-service-connection>'
  acrName: '<your-acr-name>'
  aksNamespace: 'microservices'

stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: DotNetCoreCLI@2
      inputs:
        command: 'restore'
        projects: '**/*.csproj'
    - task: DotNetCoreCLI@2
      inputs:
        command: 'build'
        projects: '**/*.csproj'
    - task: DotNetCoreCLI@2
      inputs:
        command: 'test'
        projects: '**/*Tests.csproj'
    - task: Docker@2
      inputs:
        containerRegistry: '$(azureSubscription)'
        repository: 'productservice'
        command: 'buildAndPush'
        Dockerfile: 'Dockerfile'
        tags: |
          $(Build.BuildId)

- stage: Deploy
  jobs:
  - job: DeployToAKS
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Kubernetes@1
      inputs:
        connectionType: 'Azure Resource Manager'
        azureSubscription: '$(azureSubscription)'
        azureResourceGroup: '<your-resource-group>'
        kubernetesCluster: '<your-aks-cluster>'
        namespace: '$(aksNamespace)'
        command: 'apply'
        useConfigurationFile: true
        configuration: 'manifests/'
