trigger:
  branches:
    include:
      - main

variables:
  azureSubscription: '94685a32-e8ce-4a91-a70c-1a200302d3ac'
  acrName: 'containeraks'
  aksNamespace: 'microservices'

stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: DotNetCoreCLI@2
      inputs:
        command: 'restore'
        projects: '**/*.csproj'
    - task: DotNetCoreCLI@2
      inputs:
        command: 'build'
        projects: '**/*.csproj'
    - task: DotNetCoreCLI@2
      inputs:
        command: 'test'
        projects: '**/*Tests.csproj'
    - task: Docker@2
      inputs:
        containerRegistry: '$(azureSubscription)'
        repository: 'userservice'
        command: 'buildAndPush'
        Dockerfile: 'Dockerfile'
        tags: |
          $(Build.BuildId)

- stage: Deploy
  jobs:
  - job: DeployToAKS
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Kubernetes@1
      inputs:
        connectionType: 'Azure Resource Manager'
        azureSubscription: '$(azureSubscription)'
        azureResourceGroup: 'rg-webapp-demo'
        kubernetesCluster: 'kubernetescluster'
        namespace: '$(aksNamespace)'
        command: 'apply'
        useConfigurationFile: true
        configuration: 'manifests/'
